.App, .navbar-default  {
  color: white !important;
  background: #182c39 !important;
}
.navbar-default {
  border: 1px solid #182c39 !important;
}
a {
  cursor: pointer;
}
.content {
  text-align: center;
  margin: 0 auto;
}
.panel-wrapper {
  margin-top: 14px;
}
.panel-body {
  color: #333;
}
#stockSearchField {
  /* width: 70%; */
}
#notFound {
  margin: 0;
  padding: 0;
}
