html, body {
  background-color: #182c39;
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.panel {
  height: 130px;
}
.panel-heading {
  position: relative;
}
.close {
  position: absolute;
  right: 0;
  margin-right: 15px;
  /* float: right; */
  /* display: inline; */
}

.highcharts-navigator {
}

#text {
  display: none;
}


@media (max-width: 280px) {
  .stock-panel .panel-body {
    padding: 0;
  }
}
